.nav-item:hover {
    background-color: #53b427;
    color:white;
}

.regist_log {
    border-radius: 50px;
    list-style: none;
    display: inline;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url(/images/bg-header.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    margin-top: 85px;
    padding-top: 250px;
    padding-left: 340px;
    padding-right:340px;

}

input[type=text]:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}


/*
    pagina login

*/
.logcontentent {
    margin: 150px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius:15px;
}
.part_img {
    background-image: url(/images/hunters-race-MYbhN8KaaEc-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;


}
.formlog a {
    color: #53b427;
}
.formlog{
    
}
input[type=submit] {
    color: #53b427;
    background-color: black;
}

 