@* @model List<BaseUser> *@
@model PuestoTrabajo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Post Job";
}

<div class="banner2">
    <h2 class="text-center text-white">GET THE BEST OPTION FOR YOUR COMPANY WITH US</h2>  
</div>

<main class="container">
    <div class="row mt-3">
        <div class="col">
            <form asp-controller="Home" asp-action="Creatjob" method="Post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-12 col-md-6 mb-3">
                        <label asp-for="Compania">Company</label>
                        <input type="text" asp-for="Compania" class="form-control" placeholder="Company" >
                        <span asp-validation-for="Compania" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-md-6  mb-3">
                        <label asp-for="Ubicacion">Location</label>
                        <input type="text" asp-for="Ubicacion" class="location btn-block py-1" placeholder="Location" >
                        <span asp-validation-for="Ubicacion" class="text-danger"></span>
                    </div>
                   
                </div>
                <div class="form-group row">
                    <div class="col-12 col-md-6 mb-3">
                        <label asp-for="Categoria">Category</label>
                        <select asp-for="Categoria" asp-items="Html.GetEnumSelectList<ECategoria>()"  class="form-control ">
                            @*<option value="design">Design</option>
                            <option value="analisis">Analysis</option>
                            <option value="administration">Administration</option>
                            <option value="programming">Programming</option>*@
                        </select>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label asp-for="Posicion">Position</label>
                        <input type="text" asp-for="Posicion" class="form-control" placeholder="Position" >
                        <span asp-validation-for="Posicion" class="text-danger"></span>
                    </div>

                </div>


                <div class="form-group row">
                    <div class="col-12 col-md-6 mb-3">
                        <label asp-for="Correo">Email</label>
                        <input type="text" asp-for="Correo" class="form-control" placeholder="Email">
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label asp-for="Correo">WebSite</label>
                        <input type="text" asp-for="Url" class="form-control" placeholder="WebSite">
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-6 mb-3 " >
                        <label asp-for="DescripcionTrabajo">Description</label>
                        <textarea asp-for="DescripcionTrabajo"class="form-control "> </textarea>
                        <span asp-validation-for="DescripcionTrabajo" class="text-danger"></span>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <div class="">
                            <label for="category">Type</label>
                            <select name="category " asp-for="TipoEmpleado" asp-items="Html.GetEnumSelectList<ETipoEmpleado>()"  class="form-control ">
                                @* <option value="design">Design</option>
                                <option value="analisis">Analysis</option>
                                <option value="administration">Administration</option>
                                <option value="programming">Programming</option> *@
                            </select>
                        </div>

                        <div class="col-6 mb-3" >
                            <label asp-for="ComoAplicar">How Aply</label>
                            <textarea asp-for="ComoAplicar"  class="form-control"> </textarea>
                            <span asp-validation-for="ComoAplicar" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-success btn-block mb-3" value="SEND">
            </form>
        </div>

    </div>
</main>



@* 12
                    <div class="col-6 mb-3 ">
                        <label>Type</label>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" name="type" id="fullTimee" class="form-check-input mr-2">Full Time
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" name="type" id="partTime" class="form-check-input mr-2">Part TIme
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" name="type" id="freeLance" class="form-check-input mr-2">Freelance
                            </label>
                        </div>
                    </div> *@

