@model List<BaseUser>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Todos los Trabajos";
}

    <div class="banner">

        <h2 class="mb-0 text-white">Your Future Start Here Know</h2>
        <h6 style="color: white; margin-Top: 0px;margin-bottom:30px; margin-left: 90px;">Search Millions Of Jobs For Free</h6>
        <div class="py-1" style="border-radius: 50px;background-color:white;">
           <input class="border-0 ml-1  " style="border-radius: 50px;"type="text" placeholder="Search Job by Location" value="" />
            <button class="float-right border-0 bg-white mr-1" style="border-radius: 50px;"><i class="fa fa-search text-success bg-white "></i></button>
        </div>
      
    </div>