@model List<BaseUser>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Todos los Trabajos";
}


    <div id="banner">
        <div class="container">
            <div class="sixteen columns">

                <div class="search-container" style="margin-left:300px;margin-top:150px">


                    <h2 style="margin-top:200px;color:white;margin-bottom:1px;font-family:'Times New Roman', Times, serif;">Your Future Start Here Know</h2>
                    <h2 style="margin-top:200px;color:white;margin-bottom:1px;font-family:'Times New Roman', Times, serif;">Your Future Start Here Know</h2>
                    <h6 style="color:white;margin-bottom:25px;margin-left:100px;font-family:'Times New Roman', Times, serif;">Search Millions Of Jobs For Free</h6>
                    <input style="border-radius: 50px;" class="ico-01" type="text" placeholder="Titulo del trabajo" value="" />
                    <input style="border-radius: 50px;" class="ico-02" type="text" placeholder="Ciudad" value="" />
                    <button><i class="fa fa-search"></i></button>



                </div>

            </div>
        </div>
    </div>