@{Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/sitio.css' />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

</head>
<body > 
    <div class="container">
        <div class="row logcontentent">
            
                <div class="col-5  part_img">               
                </div>
                <div class="col-7  ">
                    <div class="col-6 formlog">
                        <a class="navbar-brand my-3" href="#">
                            <img src="~/images/logo.png" alt="">
                        </a>
                        <h5>Sign into your account</h5>
                        <form class="form-group">
                            <input type="email" placeholder="Email address" class="my-3 p-2 form-text btn-block" />
                            <input type="password" placeholder="Password" class="mb-3 p-2 form-tex  btn-block" />
                            <input type="submit" class="btn btn-dark btn-block mb-3" value="Login">
                        </form>
                        <a asp-controller="Account" asp-action="Signup" class="nav-link py-2 ">Don't  have an account? Register </a>
                    </div>
                </div>
        </div>
           
    </div>
  
</body>
</html>