<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>@ViewBag.Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/sitio.css' />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

</head>
<body>

    <div class="container  ">
        <nav class="navbar navbar-expand-lg  bg-white  justify-content-center fixed-top   ">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/images/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse mx-5 font-weight-bolder" id="navbar">
                    <ul class="navbar-nav mr-auto  mx-5 ">
                        <li class="nav-item ml-2  active">
                            <a class="nav-link text-dark " asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <!--boton desplegable-->

                        <li class="nav-item dropdown  mx-3">
                            <a href="#" class="nav-link dropdown-toggle text-dark" id="menu-empleados" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PARA EMPLEADOS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menu-empleados">
                                <a href="#" class="dropdown-item">Buscar trabajos</a>
                                <a href="#" class="dropdown-item">Buscar categorias</a>


                            </div>
                        </li>
                        <li class="nav-item dropdown  ">
                            <a href="#" class="nav-link dropdown-toggle text-dark " id="menu-candidatos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PARA CANDIDATOS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menu-candidatos">
                                <a asp-controller="Home" asp-action="Creatjob" class="dropdown-item">Agregar trabajo</a>
                            </div>
                        </li>

                    </ul>
                    <ul class="responsive float-right ">
                        <li class="nav-item regist_log  px-3 py-2 mr-2" style="background-color:lightgrey;">
                            <a style="text-decoration:none;color:black;" asp-controller="Home" asp-action="Login"> <i class="fa fa-lock"></i> Log In</a>
                        </li>
                        <li class="nav-item regist_log  px-3 py-2" style="background-color:#53b427;">
                            <a asp-controller="Home" asp-action="Signup" style="text-decoration:none;color:black;"><i class="fas fa-user"></i> Sign Up</a>
                        </li>

                    </ul>


                </div>
            </div>

        </nav>
        <div>
            @RenderBody()
        </div>
        <!-- Footer -->
        <footer class="page-footer ">

          
                <div class="container">
                    <div class="row py-4 d-flex align-items-center mt-5" style="background-color:slategrey;color: black ">

                        <!-- Grid column -->
                        <div class="col-md-6 col-lg-5 text-center text-md-left mb-5 mb-md-0">
                            <h6 class="mb-0">Get connected with us on social networks!</h6>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-6 col-lg-7 text-center text-md-right">

                            <!-- Facebook -->
                            <a class="fb-ic">
                                <i class="fab fa-facebook-f  mr-4"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="tw-ic">
                                <i class="fab fa-twitter  mr-4"> </i>
                            </a>
                            <!-- Google +-->
                            <a class="gplus-ic">
                                <i class="fab fa-google-plus-g  mr-4"> </i>
                            </a>
                            <!--Linkedin -->
                            <a class="li-ic">
                                <i class="fab fa-linkedin-in  mr-4"> </i>
                            </a>
                            <!--Instagram-->
                            <a class="ins-ic">
                                <i class="fab fa-instagram "> </i>
                            </a>

                        </div>
                        <!-- Grid column -->

                    </div>
                </div>
            <!-- Copyright -->
            <div class="footer-copyright text-center text-dark py-5 " style="background-color:lightgray;height:130px; " >
                © 2020 Copyright:
                <strong style="color:#53b427;" >  WorkScout.com</strong>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

        @RenderSection("Scripts", required: false)

    </div>     
</body>
</html>